@import "~bootstrap/scss/bootstrap";

@import './variable';

@import"./header.scss";

@import"./footer.scss";

@import"./homepage.scss";

@import"./apdm.scss";

@import"./bts.scss";

@import"./createCompForm.scss";

@import "./competence.scss";

@import"./loginForm.scss";

@import"./tableauCom.scss";

body{
    background-color: rgb(44, 44, 44);
    overflow-y: scroll;
}


.public-content{
    background-color: white;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1em;


}

.btn-main {
    padding: 10px;
    background-color: $primary;
}