.pres-bts{
    background-color: rgb(44, 44, 44);
    padding: 4em;
}
.content-global{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 5px 5px 15px 1px #000000;
    
}
.pres-bts img{
    width: 20%;
    margin-bottom: 2em;

}
.content-option{
    margin-top: 2em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 5px 5px 15px 1px #000000;
}