*{
    margin: 0;
    padding: 0;
    font-family: var(--police);
}
:root{
    --police:sans-serif ;
    --primary:rgb(245, 224, 34);
}
h2{
    margin-left: 1em;
    padding: 8px;
  
    
}
ul{
    margin-left: 9em;
    list-style-type: none;
    overflow: hidden;
}
li{
    float: left;
    
}
a{
    text-decoration: none;
    color: black;
}
li a{
    font-size: 18px;
    text-decoration: none;
    padding: 10px 16px;
    color: rgb(0, 0, 0);
    
}
li a:hover{

    background-color: rgba(0, 0, 0, 0.245);
    color: rgb(0, 0, 0);
}

.nav{
    display: flex;
    position: static;
    height: 50px;
    width: 100%;
    background-color: var(--primary);

    
    .navbar{
        
        margin-left: 20%;
        text-align: center;
        justify-content: center;
        
        
 }

} 
.navbar-links-mobile{
    display: none;
}

@media (max-width: 1024px){
    .navbar-links-mobile{
        display: inline-block;
    }
    .navbar{
        display: none;
    }
    #burger{
        width: 30px;
        height: 3px;
        background: rgb(0, 0, 0);
        position: relative;
        display: inline-block;
        transition: background 0.3 ease-in;
    
    }
    #burger:before,
    #burger:after{
        content:'';
        width: 30px;
        height: 3px;
        background: rgb(0, 0, 0);
        position: absolute;
        display: inline-block;
        transition: all 0.3s ease-in;
    
    }
    #burger::before{
        top: -7px;
    }
    #burger::after{
        top: 7px;
    }
    #burger.open{
        background: transparent;
    }
    #burger.open::before{
        transform: rotate(45deg);
        top: 0;
    }
    #burger.open::after{
        transform: rotate(-45deg);
        top: 0;
    }
    .navbar-links-mobile ul {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: #751e0f;
        text-align: center;
        padding: 10px 0;
        transform: scaleY(0);
        transform-origin: center top;
        transition: all 0.3s ease-in;
        box-shadow: inset 7px 5px 15px -6px #000000 ;
      }
    .navbar-links-mobile ul.open{
        transform: scaleY(1);
    }
    .navbar-links-mobile li{
        padding: 10px 0;
        border-bottom: solid 1px whitesmoke;
    }
    .navbar-links-mobile li:last-child{
        border-bottom: none;
    }
}

