.login-content {
    margin-left: 3em;
    width: 35%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 8px;
    background-color: $gray-300;

    .mpLog {
        display: flex;
    }

    .btn-form {
        margin-top: 2em;
        text-align: center;
    }
}
