.tb-comp{
    background-color: white;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1em;
    width: auto;
    margin-bottom: 9em;
}
.tb-comp td{
    border: 1px solid black;
}