{% extends 'base.html.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block body %}
    <main>
        <section>
            <div class="apdm">
                <div class="apdm-content">
                    <div class="titre-content">
                        
                        <h1>Qui suis-je ?</h1>
                        
                    
                         <div class="content-pres">
                             <div class="content">
                                
                                <p>Je m'appelle Delahaye Anton j'ai 21 ans, je suis actuellement en 2ème années de BTS SIO option SLAM au CFP Charmilles à Saint-Martin d'Hères et en alternance dans une entreprise de developpement web (IT-DOC).<p>
                            </div>
                        </div>
                    </div>
                    <div class="cv">
                        <div class="cv-title">
                            <h1>Curriculum Vitae</h1>
                        </div>
                        <div class="cv-img">
                            <img src="{{ asset('images/pp4.jpg') }}" alt="...">
                        </div>
                        <div class="cv-content">
                            <h3> Expérience  professionnelle : </h3>
                            
                                <p>- stage Aqua Kine et chez Les opticiens Mutualistes</p>
                                <p>- Agent de propreté Ville de Crolles </p>
                                <p>- Animateur d'évenement jeunes MJC Crolles</p>
                                <p>- Developpeur site web pour IT-DOC</p> 
                            <h3> Qualités :</h3>
                                <p>- Curieux</p>
                                <p>- Sociable</p>
                                <p>- Perséverant</p>

                            
                            <h3>Compétences : </h3>
                                <p>- Notion de language informatique(Html, Css, Php, Rust) </p>
                                <p>- Maitre de Git</p>
                                <p>- Framework connu (Symfony, Yew)</p>
                                <p>- Anglais niveau A2</p>
                                <p>- Espagnole niveau A1
                                

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock %}