{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
<title>{% block title %}homepage{% endblock %}</title>

{% block body %}

    <main>
        <section>
                <div class="homepage">
                
                    <div class="homepage-img"><img src="{{ asset('images/code.jpg') }}" alt="..."></div>
                         
                         
                         <div class="title">
                            <h2>Portfolio BTS SIO</h2>
                            <hr color="black">
                            <h3> option SLAM</h3>                    
                    </div>
                </div>
        </section>
    </main>

{% endblock %}
