{% extends 'base.html.twig' %}
<title>{% block title %}public{% endblock %}</title>

{% block title %}Contact{% endblock %}

{% block body %}
<main>
    <section>
       <div class="public-content">
        <a href="http://so-nems.fr/"> mon site </a>
        </div>

    </section>
</main>

    
{% endblock %}