{% extends "base.html.twig" %}

{% block body %}
<div class="login-content">
    <h1>Se connecter</h1>
    {% if error %}
        {{ error.messageKey | trans(error.messageData, 'security') }}
    {% endif %}
    <form method="POST">
        <label class ="mpLog" for="email"> email : </label>
        <input type ="email" id="username" name="_username" placeholder="toto@test.fr">
        <label class ="mpLog"for="password"> mot de passe : </label>
        <input type="password" id="password" name="_password">
        <div class="btn-form">
            <button type="submit">Se connecter</button>
        </div>
    </form>
</div>
{% endblock %}