<nav class="nav" {'attr' : {'class' : 'nav'}}>
    <h2> DELAHAYE Anton</h2>
    <ul class="navbar">
            <li><a href={{path('home')}}>Accueil</a></li>
            <li><a href={{path('apdm_page')}}>A propos de moi</a></li>
            <li><a href={{path('bts_page')}}>BTS</a></li>
            <li><a href="#">tableau de compétence</a></li>
            <li><a href={{path('contact_page')}}>contact</a></li>
    </ul> 
</nav>
